@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.bg-btn{
  background: #c31432;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
body{
  background: #010b24;
  color: white;
  font-family: 'Poppins', sans-serif;
}
.pop{
  font-family: 'Poppins', sans-serif;
}